.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
  outline: none;

  &--transparent {
    background-color: $color-transparent;
  }

  &--icon-nav {
    padding: 0;
    margin: 0;
  }
}
